<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd 
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<description>Spring公共配置 </description>

	<!-- 定义受环境影响易变的变量 -->
	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
		<property name="ignoreResourceNotFound" value="true" />
		<property name="locations">
			<list>
				<!-- 标准配置 -->
				<value>classpath*:/application.properties</value>
			</list>
		</property>
	</bean>

	<!-- 使用annotation 自动注册bean,并保证@Required,@Autowired的属性被注入123 -->
	<context:component-scan base-package="com">
		<context:include-filter type="regex"
			expression=".linkcm.*" />
		<context:include-filter type="regex"
			expression=".erissson.*" />
	</context:component-scan>
	
	<!-- 数据源配置, 使用Tomcat JDBC连接池 -->
	<bean id="dataSource" class="org.apache.tomcat.jdbc.pool.DataSource" destroy-method="close">
		<!-- Connection Info -->
		<property name="driverClassName" value="${jdbc.driver}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	
		<!-- Connection Pooling Info -->
		<property name="maxActive" value="${jdbc.pool.maxActive}" />
		<property name="maxIdle" value="${jdbc.pool.maxIdle}" />
		<property name="minIdle" value="0" />
		<property name="defaultAutoCommit" value="false" />
	</bean>	

	<bean id="jdbcDialect" class="com.linkcm.core.dao.jdbc.dialect.MySQLJdbcDialect" />

	<bean id="codeJdbcDao" class="com.linkcm.core.dao.MysqlCodeJdbcDao"></bean>


	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="persistenceUnitName" value="spring-jpa" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="database" value="MYSQL" />
				<property name="showSql" value="${hibernate.show_sql}" />
				<property name="generateDdl" value="true" />
			</bean>
		</property>
	</bean>

	<bean id="transactionManagerJpa" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>


	<tx:advice id="jpaTxAdvise" transaction-manager="transactionManagerJpa" />
	<aop:config>
		<aop:pointcut id="jpaCorePointcut"
			expression="execution(* com.linkcm.*.service..*.*(..))" />
		<aop:advisor advice-ref="jpaTxAdvise" pointcut-ref="jpaCorePointcut" />
	</aop:config>
	<aop:config>
		<aop:pointcut id="jpaBizPointcut"
			expression="execution(* com.ericsson.*.service..*.*(..))" />
		<aop:advisor advice-ref="jpaTxAdvise" pointcut-ref="jpaBizPointcut" />
	</aop:config>

	<aop:config>
		<aop:aspect id="exceptionPointcut" ref="exceptionHandler">
			<!--配置service包下所有类或接口的所有方法 -->
			<aop:pointcut id="businessService"
				expression="execution(* com..*.service..*.*(..))" />
			<aop:after-throwing pointcut-ref="businessService"
				method="afterThrowing" throwing="ex" />
		</aop:aspect>
	</aop:config>

	<bean id="exceptionHandler" class="com.linkcm.core.aop.ExceptionHandler" />
	
	<aop:config>
		<aop:aspect id="beforePointcut" ref="validateEntityHandler">
			<aop:before pointcut-ref="businessService"
				method="before" />
		</aop:aspect>
	</aop:config>
	
	<bean id="validateEntityHandler" class="com.linkcm.core.aop.ValidateEntityHandler" />


</beans>